SECRET_KEY=dp3$((d1^azvs4f*lrsq650lc&1bf4a1j#y^_#u&xcsz=hv*u=
DEBUG=False
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME
ALLOWED_HOSTS=localhost,127.0.0.1,your-app-name.onrender.com
CSRF_TRUSTED_ORIGINS=https://your-app-name.onrender.com
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True
